.logo-class {
    width: 5rem;
}

html {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.navbar-class {
    display: flex;
    margin: auto;
    justify-content: center;
}

.justify-content-md-between {
    justify-content: space-between!important;
}

button:focus,
button:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

@media only screen and (max-width:1000px) {
    header ul {
        width: 47%;
        margin-top: 2%;
        margin-left: 12%;
    }
}

@media only screen and (max-width:600px) {
    .navbarItems {
        margin: auto;
        flex-direction: column;
        max-width: 100%;
        padding: 10px;
    }
    header {
        max-width: 100% !important;
    }
    header ul {
        width: 52% !important;
    }
    /* header form {
        display: flex;
        margin: auto;
        align-items: center;
        margin-left: 12%;
    }
    */
}

@media only screen and (max-width:500px) {
    header ul {
        width: 64% !important;
    }
}